 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Open+Sans:wght@400;700;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;}

/*style header section*/

.nav-title{
    font-weight: 800;
    font-size: 36px;
    color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;}
.nav-title span{color: rgb(255, 84, 0);
    font-family: 'Mulish', sans-serif;}
.title-bar{display: flex;
    align-items: center;
    gap: 16px;}
.title-bar img{width: 48px;
height: 56px;}
nav{margin: 50px 90px 40px 90px;
    display: flex;
align-items: center;
justify-content: space-between;}
  #menu-toggle {
    background-color: transparent; /* Transparent background on PC */
    border: none;
    padding: 0.5rem;
    cursor: pointer;}
  #menu-toggle span {
    display:none;
    height: 2px;
    width: 20px;
    background-color: #333;
    margin: 5px;}
nav ul{display: flex;
list-style: none;
gap: 30px;}
nav ul li a{color: rgb(66, 66, 71);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;}
ul>.home{color: rgb(255, 84, 0);}
.explore-location{height: 545px;
    margin: 1px 110px;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url('./Images/Group\ 13\ \(1\)\ \(1\).png');
background-repeat: no-repeat;
background-size: 100% 100%;}
.location-title{text-align: center;
font-weight: 800;
font-size: 64px;
font-family: 'Mulish', sans-serif;;
color: rgb(255, 255, 255);
padding-top:  80px ;
line-height: 80px;}
.location-detail{ display: flex;
    justify-content: center;
    text-align: center;}
.location-details{color: rgb(255, 255, 255);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    padding-bottom: 64px;}
.find{background: rgba(255, 255, 255, 0.3);
        margin-left: 170px;
        display:inline-flex;
        border-radius: 8px;
        padding: 15px;}
.find-out{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
}
.button1,.button2,.button3{color: rgba(19, 19, 24, 0.5);}
.find-out button{border: 0px; 
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
border-radius: 8px;
padding-top: 15px;
padding-bottom: 15px;}
.button1,.button4{padding: 15px 80px 15px 15px;}
.down2{margin-left: 60px;
margin-right: 5px;}
.down1{margin-left: 85px;
      margin-right: 5px;}
.btn-primary{background: rgb(255, 84, 0);
        color: rgb(255, 255, 255);
        border: 0px;
        border-radius: 8px;
    font-size:20px ;}

/*end of header sectiion*/

@media screen and (max-width:600px){
    .explore-location{margin: 10px;}
    .location-title{font-size: 22px;
        line-height: 28px;}
    .location-details{
        font-size: 14px;
        line-height: 21px;
        width: 304px;
        text-align: center;
        padding-bottom: 15px;}
    .find{margin-left: 25px;}
    .find-out{flex-direction: column;
    justify-content: flex-start;}
    .button1{padding: 15px 160px 15px 15px;}
    .button4{padding: 14px 82px;}
    .button2{padding:15px 80px 15px 15px;}
    .button3{padding:15px 70px 15px 15px;}
    #menu {
        display: none;}
    #menu-toggle {
        background-color: #f2f2f2;
    visibility: visible;}  
    #menu-toggle span {display: block;}
    nav ul{display: none;}
    nav{margin: 50px 10px 40px 10px;}
    .nav-title{font-size: 21.54px;}
}
                
/*style main section*/

.popular-tour{margin: 80px 110px 80px 110px;
display: flex;
gap: 50px;}
.tour-description{width: 550px;}
.tour-img{width: 100%;
height: 100%;}
.tour-title{color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;}
.tour-details,.tour-list li,.tour-epilogue{color: rgba(19, 19, 24, 0.7);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;}
.popular-tour .btn-primary{padding: 14px 35px;
margin-top: 20px;}
.your-destination{margin: 1px 110px 80px 110px;}
.destination-title,.reason-title{color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;}
.destination-details{color: rgba(19, 19, 24, 0.7);
    font-family: 'Mulish', sans-serif;
    width: 643px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
margin-bottom: 40px;}
.destination-pic{position: relative;}
.destination-img{max-width: 100%;
height: auto;}
.destination-img1{max-width: 100%;
    height: auto;}
.destination-img2{max-width: 100%;
        height: auto;}
.destination-name1{position: absolute;
         top: 30%;
        left: 40%;
        color: rgb(255, 255, 255);
        font-family: 'Mulish', sans-serif;
        font-size: 28px;
        font-weight: 800;
        line-height: 35px;}
.destination-name2{position: absolute;
    top: 30%;
   left: 33%;
   color: rgb(255, 255, 255);
   font-family: 'Mulish', sans-serif;
   font-size: 28px;
   font-weight: 800;
   line-height: 35px;}
.destination-name3{position: absolute;
    top: 30%;
   left: 33%;
   color: rgb(255, 255, 255);
   font-family: 'Mulish', sans-serif;
   font-size: 28px;
   font-weight: 800;
   line-height: 35px;}
.destination-name4{position: absolute;
    top: 30%;
   left: 28%;
   color: rgb(255, 255, 255);
   font-family: 'Mulish', sans-serif;
   font-size: 28px;
   font-weight: 800;
   line-height: 35px;}
.destination-name5{position: absolute;
    top: 30%;
   left: 33%;
   color: rgb(255, 255, 255);
   font-family: 'Mulish', sans-serif;
   font-size: 28px;
   font-weight: 800;
   line-height: 35px;}

.destination-banner{margin: 0px 80px;
    display: flex;
flex-wrap: wrap;
gap: 24px;} 
.reason-details{color: rgba(19, 19, 24, 0.7);
    font-family: 'Mulish', sans-serif;
    width: 643px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
margin-bottom: 80px;}
.choose-reason{margin: 90px;}
.service-title{color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;}
.service-details{color: rgb(90, 90, 93);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
width: 486px;}
.service-related1{background: rgba(251, 181, 99, 0.05);
padding: 40px 32px;
border-radius: 15px;}
.service-related2{background: rgba(41, 206, 246, 0.05);
    padding: 40px 32px;
    border-radius: 15px;}
.service-related3{background: rgba(233, 68, 68, 0.05);
    padding: 40px 32px;
    border-radius: 15px;}
.service-type{display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;}
#thy-name{color: rgba(19, 19, 24, 0.3);
font-family: 'Mulish', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
border: 0px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 15px 25% 15px 20px;
margin-bottom: 16px;}
#thy-details{color: rgba(19, 19, 24, 0.3);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0px;
    padding: 15px 25% 15px 20px;
margin-bottom: 44px;}
.newsletter-form .btn-primary{padding: 15px 15%;}
.newsletter{margin:1px 90px;}
.newsletter-description{
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
padding: 40px;}
.newsletter-pic{width: 100%;
height: 100%;}
.newsletter-title{color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;}
.news-details{color: rgb(90, 90, 93);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
padding-bottom: 32px;}
.newsletter-conatainer{position: relative;}
.save-up{width: 50%;
    height: 50%;
    position: absolute;
         left: 50%;
        top: 47%;}
.newsletter-banner{display: flex;
gap: 70px;}

/*end of main section*/

@media screen and (max-width:600px){
    .popular-tour{margin: 10px;
    flex-direction:column ;}
    .tour-description{width: auto;}
    .your-destination{margin: 10px;}
    .destination-details{width: 309px;}
    .destination-banner{flex-direction: column;
                         margin: 0px 20px;}
    .destination-img2{max-width: none;
       width: 100%; 
    margin-bottom: 150px;}
    .destination-img1{max-width: none;
        width: 100%;
    margin-bottom: 40px; }
    .destination-title,.reason-title{font-size:20px ;
        line-height: 25px;}
    .reason-details{font-size: 14px;
        line-height: 24px; }
    .choose-reason{margin: 10px;}
    .service-type{flex-direction: column;
    justify-content: flex-start;}
    .service-details{width: auto;}
    .newsletter{margin: 30px 10px;}
    .newsletter-banner{flex-direction: column;}
    .newsletter-description{padding: 24px;}

}
footer{margin-top: 90px;
    background: rgba(19, 19, 24, 0.05);}
.footer-bar{display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
padding-top: 80px;}
.footer-details{color: rgb(90, 90, 93);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 769px;
    padding: 10px;
    text-align: center;}
.footer-banner{margin-top: 37px;
    display: flex;
gap: 32px;
justify-content: center;}
.horizontal{border: 1px solid rgba(19, 19, 24, 0.1);
margin:50px 284px;}
.footer-epilogue{color: rgb(19, 19, 24);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
padding-bottom: 100px;}